In [6]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

In [7]:
# Load in files
rent_index_load = Path("data-files/Zillow_Observed_Rent_Index_(ZORI).csv")
home_value_index_load = Path("data-files/Zillow_Home_Value_Index_(ZHVI).csv")
home_value_forecast_load = Path("data-files/Zillow_Home_Value_Forecast_(ZHVF).csv")
percent_home_sold_above_list_load = Path("data-files/Percent_homes_sold_above_list.csv")
median_sale_to_list_ratio_load = Path("data-files/Median_Sale-to-List_Ratio.csv")
madian_sale_price_load = Path("data-files/Median_Sale_Price.csv")
median_days_to_close_load = Path("data-files/Median_days_to_close.csv")

# Store files as Data Frame
rent_index = pd.read_csv(rent_index_load)
home_value_index = pd.read_csv(home_value_index_load)
home_value_forecast = pd.read_csv(home_value_forecast_load)
percent_home_sold_above_list = pd.read_csv(percent_home_sold_above_list_load)
median_sale_to_list_ratio = pd.read_csv(median_sale_to_list_ratio_load)
madian_sale_price = pd.read_csv(madian_sale_price_load)
median_days_to_close = pd.read_csv(median_days_to_close_load)

In [8]:
# Take a look at the data
rent_index.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,102001,0,United States,country,NaN,1280.633863,1287.501924,1296.645905,1306.721774,1316.751242,...,1975.835739,1977.938133,1983.983289,1992.489296,2003.280119,2015.846679,2026.886830,2037.184481,2043.719504,2047.095633
1,394913,1,"New York, NY",msa,NY,2426.843124,2443.214185,2461.569551,2484.335192,2500.447307,...,3192.662155,3186.090274,3201.305375,3227.659771,3264.971399,3305.837389,3343.975859,3369.088119,3378.231065,3376.205700
2,753899,2,"Los Angeles, CA",msa,CA,1897.597785,1909.296480,1924.702226,1939.356022,1954.717452,...,2924.394108,2920.801579,2928.269343,2936.661995,2951.164632,2958.004259,2968.798884,2982.964790,2995.886668,3001.423728
3,394463,3,"Chicago, IL",msa,IL,1417.325728,1424.776246,1435.912190,1445.772642,1456.722898,...,1860.947800,1868.049689,1880.888532,1893.637877,1909.273200,1932.058153,1952.481379,1965.321340,1972.630211,1971.321022
4,394514,4,"Dallas, TX",msa,TX,1139.808665,1144.828522,1152.963226,1163.690479,1174.252609,...,1795.720424,1793.799306,1796.900598,1802.831095,1806.282541,1813.190759,1821.711844,1830.681080,1832.988133,1829.204295

In [ ]:
# Groupby
# rent_index_groupby_region = rent_index.groupby["Region"]