In [93]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

In [94]:

# Load in files
rent_index_load = Path("data-files/Zillow_Observed_Rent_Index_(ZORI).csv")
home_value_index_load = Path("data-files/Zillow_Home_Value_Index_(ZHVI).csv")
home_value_forecast_load = Path("data-files/Zillow_Home_Value_Forecast_(ZHVF).csv")
percent_home_sold_above_list_load = Path("data-files/Percent_homes_sold_above_list.csv")
median_sale_to_list_ratio_load = Path("data-files/Median_Sale-to-List_Ratio.csv")
madian_sale_price_load = Path("data-files/Median_Sale_Price.csv")
median_days_to_close_load = Path("data-files/Median_days_to_close.csv")

# Store files as Data Frame
rent_index = pd.read_csv(rent_index_load)
home_value_index = pd.read_csv(home_value_index_load)
home_value_forecast = pd.read_csv(home_value_forecast_load)
percent_home_sold_above_list = pd.read_csv(percent_home_sold_above_list_load)
median_sale_to_list_ratio = pd.read_csv(median_sale_to_list_ratio_load)
madian_sale_price = pd.read_csv(madian_sale_price_load)
median_days_to_close = pd.read_csv(median_days_to_close_load)

In [95]:
# Take a look at the data
rent_index

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,...,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023
0,102001,0,United States,country,USA,1280.633863,1287.501924,1296.645905,1306.721774,1316.751242,...,1975.835739,1977.938133,1983.983289,1992.489296,2003.280119,2015.846679,2026.886830,2037.184481,2043.719504,2047.095633
1,394913,1,"New York, NY",msa,NY,2426.843124,2443.214185,2461.569551,2484.335192,2500.447307,...,3192.662155,3186.090274,3201.305375,3227.659771,3264.971399,3305.837389,3343.975859,3369.088119,3378.231065,3376.205700
2,753899,2,"Los Angeles, CA",msa,CA,1897.597785,1909.296480,1924.702226,1939.356022,1954.717452,...,2924.394108,2920.801579,2928.269343,2936.661995,2951.164632,2958.004259,2968.798884,2982.964790,2995.886668,3001.423728
3,394463,3,"Chicago, IL",msa,IL,1417.325728,1424.776246,1435.912190,1445.772642,1456.722898,...,1860.947800,1868.049689,1880.888532,1893.637877,1909.273200,1932.058153,1952.481379,1965.321340,1972.630211,1971.321022
4,394514,4,"Dallas, TX",msa,TX,1139.808665,1144.828522,1152.963226,1163.690479,1174.252609,...,1795.720424,1793.799306,1796.900598,1802.831095,1806.282541,1813.190759,1821.711844,1830.681080,1832.988133,1829.204295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,845169,874,"Rockport, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1534.970000,1525.000000
591,394687,875,"Hood River, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2180.467751,2239.970719,2254.306482,2132.777778
592,395130,890,"Sterling, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,880.000000
593,394718,892,"Jamestown, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,787.488592,791.100033,817.419504,839.187519,865.433625,866.851557,865.791510,868.696063,862.929561,882.777778
594,394996,915,"Portales, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,924.352133,915.000830,914.970822,899.480127,908.465609

In [96]:
#Clean the data 
rent_index_cleaned = rent_index.dropna()
home_value_index_cleaned = home_value_index.dropna()
home_value_forecast_cleaned = home_value_forecast.dropna()
percent_home_sold_above_list_cleaned = percent_home_sold_above_list.dropna()
median_sale_to_list_ratio_cleaned = median_sale_to_list_ratio.dropna()
madian_sale_price_cleaned = madian_sale_price.dropna()
median_days_to_close_cleaned = median_days_to_close.dropna()

In [97]:
rent_index_cleaned.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,...,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023
0,102001,0,United States,country,USA,1280.633863,1287.501924,1296.645905,1306.721774,1316.751242,...,1975.835739,1977.938133,1983.983289,1992.489296,2003.280119,2015.846679,2026.886830,2037.184481,2043.719504,2047.095633
2,753899,2,"Los Angeles, CA",msa,CA,1897.597785,1909.296480,1924.702226,1939.356022,1954.717452,...,2924.394108,2920.801579,2928.269343,2936.661995,2951.164632,2958.004259,2968.798884,2982.964790,2995.886668,3001.423728
3,394463,3,"Chicago, IL",msa,IL,1417.325728,1424.776246,1435.912190,1445.772642,1456.722898,...,1860.947800,1868.049689,1880.888532,1893.637877,1909.273200,1932.058153,1952.481379,1965.321340,1972.630211,1971.321022
4,394514,4,"Dallas, TX",msa,TX,1139.808665,1144.828522,1152.963226,1163.690479,1174.252609,...,1795.720424,1793.799306,1796.900598,1802.831095,1806.282541,1813.190759,1821.711844,1830.681080,1832.988133,1829.204295
5,394692,5,"Houston, TX",msa,TX,1251.772294,1256.316282,1263.033545,1275.256750,1285.117260,...,1626.560154,1634.287538,1641.741649,1651.503734,1655.765806,1664.868338,1674.589684,1681.546178,1682.683184,1679.823981

In [98]:
home_value_index_cleaned.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,...,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023
0,102001,0,United States,country,USA,121428.3483,121641.9797,121906.9141,122475.1464,123129.1135,...,341524.6868,340331.9654,339460.2907,339398.6809,340364.8719,341993.7347,343935.0266,345686.2161,347311.2451,348538.9619
1,394913,1,"New York, NY",msa,NY,216218.9851,217137.7938,218065.1124,219944.2185,221890.0980,...,607957.9145,607138.3756,605781.0393,606096.5352,608105.1209,612136.7860,616308.0170,619911.4944,623211.9849,625939.7209
2,753899,2,"Los Angeles, CA",msa,CA,222303.0449,223130.2942,224232.1825,226424.5701,228822.3547,...,883096.4822,874754.1695,863791.2804,853971.7250,851581.7060,855385.2459,863224.2741,874493.2711,888127.7853,901894.4880
3,394463,3,"Chicago, IL",msa,IL,152289.7014,152430.6773,152699.1683,153367.1074,154170.5578,...,292513.6705,291906.8686,291753.7845,292397.0654,294085.1403,296271.6008,298827.0324,301362.8932,303811.3583,305636.2748
5,394692,5,"Houston, TX",msa,TX,121045.1872,121067.7342,120983.2197,121033.7375,121080.3385,...,305696.3405,303930.5894,302254.0820,301105.3116,300656.8832,300811.7669,301616.7104,302539.6583,303414.9210,303771.6259

In [99]:
percent_home_sold_above_list_cleaned.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023
0,102001,0,United States,country,USA,0.202254,0.225684,0.257072,0.278533,0.293255,...,0.274239,0.243315,0.218704,0.248517,0.303111,0.354492,0.393911,0.416005,0.401907,0.377169
1,394913,1,"New York, NY",msa,NY,0.202104,0.190585,0.199001,0.211545,0.218635,...,0.411416,0.382979,0.336533,0.323059,0.377137,0.444359,0.502006,0.561925,0.582363,0.568731
2,753899,2,"Los Angeles, CA",msa,CA,0.357563,0.401729,0.444095,0.457139,0.460404,...,0.345244,0.311723,0.285525,0.353517,0.417382,0.497789,0.547798,0.577341,0.590858,0.579426
3,394463,3,"Chicago, IL",msa,IL,0.137890,0.149428,0.181134,0.200747,0.218943,...,0.281586,0.249403,0.242491,0.282411,0.370546,0.444913,0.492097,0.523096,0.509259,0.462631
6,395209,6,"Washington, DC",msa,VA,0.206920,0.283699,0.285949,0.362828,0.348870,...,0.305093,0.266297,0.257229,0.365861,0.463453,0.530172,0.570647,0.558637,0.533967,0.498898

In [100]:
median_sale_to_list_ratio_cleaned.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023
0,102001,0,United States,country,USA,0.982759,0.984615,0.988235,0.990948,0.993166,...,0.991435,0.987124,0.984566,0.988296,0.997877,1.0,1.000000,1.000000,1.000000,1.000000
1,394913,1,"New York, NY",msa,NY,0.978096,0.977208,0.978929,0.979548,0.980501,...,1.000000,1.000000,0.990198,0.989122,0.999500,1.0,1.000001,1.009374,1.016198,1.011414
2,753899,2,"Los Angeles, CA",msa,CA,0.997340,1.000000,1.000000,1.000000,1.000000,...,0.993324,0.990198,0.987180,0.993432,1.000000,1.0,1.002639,1.007890,1.008000,1.007922
3,394463,3,"Chicago, IL",msa,IL,0.971429,0.973270,0.977199,0.979955,0.981659,...,0.987150,0.983661,0.981997,0.986385,1.000000,1.0,1.000000,1.000286,1.000185,1.000000
4,394514,4,"Dallas, TX",msa,TX,0.987408,0.991952,0.995918,1.000000,1.000000,...,0.987467,0.984641,0.981818,0.986111,0.996117,1.0,1.000000,1.000000,1.000000,0.996784

In [101]:
madian_sale_price_cleaned.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,...,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023
0,102001,0,United States,country,USA,180000.0,185000.0,186000.0,189000.0,195000.0,...,325000.0,320000.0,320000.0,329755.0,340000.0,350000.0,360000.0,366000.0,362000.0,360000
2,753899,2,"Los Angeles, CA",msa,CA,500000.0,495000.0,500000.0,490000.0,481000.0,...,830000.0,810000.0,815000.0,825000.0,841000.0,850000.0,868000.0,900000.0,895000.0,900000
3,394463,3,"Chicago, IL",msa,IL,227500.0,235000.0,230000.0,235000.0,245000.0,...,275000.0,270000.0,265000.0,272000.0,290000.0,300000.0,310000.0,326050.0,319700.0,320000
4,394514,4,"Dallas, TX",msa,TX,137000.0,146680.0,144000.0,149900.0,155000.0,...,375000.0,360000.0,355000.0,372000.0,374700.0,385000.0,395000.0,405000.0,400000.0,395000
5,394692,5,"Houston, TX",msa,TX,143500.0,143250.0,143900.0,149000.0,155000.0,...,310000.0,309000.0,299900.0,307000.0,315000.0,320000.0,330000.0,335000.0,335000.0,330000

In [102]:
median_days_to_close_cleaned.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023
0,102001,0,United States,country,USA,35.0,31.0,31.0,32.0,34.0,...,32.0,31.0,33.0,30.0,30.0,31.0,31.0,32.0,31.0,31
1,394913,1,"New York, NY",msa,NY,63.0,56.0,49.0,48.0,49.0,...,52.0,51.0,57.0,53.0,48.0,50.0,52.0,54.0,53.0,53
2,753899,2,"Los Angeles, CA",msa,CA,35.0,29.0,30.0,30.0,31.0,...,28.0,29.0,30.0,27.0,28.0,28.0,28.0,29.0,28.0,28
3,394463,3,"Chicago, IL",msa,IL,42.0,39.0,38.0,40.0,42.0,...,36.0,35.0,37.0,33.0,35.0,36.0,36.0,37.0,36.0,35
5,394692,5,"Houston, TX",msa,TX,31.0,29.0,30.0,31.0,32.0,...,28.0,28.0,29.0,28.0,28.0,29.0,29.0,29.0,29.0,28

In [103]:
#Drop RegionID, Size, RegionName & Type
median_days_to_close_cleaned1 = median_days_to_close_cleaned.drop(['RegionID', 'SizeRank', 'RegionName', 'RegionType'], axis=1)

In [104]:
#Group the states
median_days_to_close_grouped_state = median_days_to_close_cleaned1.groupby('StateName').median()

In [105]:
median_days_to_close_grouped_state

,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,...,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023
StateName,,,,,,,,,,,,,,,,,,,,,
AL,36.0,30.0,32.0,32.0,33.0,33.0,33.0,31.0,32.0,32.0,...,29.0,30.0,31.0,28.0,29.0,30.0,32.0,34.0,30.0,30.0
AR,33.0,31.0,30.5,28.0,29.5,33.5,33.0,33.5,34.0,31.5,...,32.0,30.0,31.0,31.0,30.5,30.5,30.5,31.0,32.0,31.0
AZ,37.5,34.0,34.0,33.0,35.0,36.0,33.0,33.5,34.0,34.5,...,30.0,29.0,30.5,29.0,30.5,30.5,29.0,30.0,31.5,30.0
CA,35.0,29.0,30.0,30.0,31.0,32.0,32.0,30.5,30.0,31.0,...,28.0,28.0,30.0,27.0,28.0,28.0,28.5,28.5,28.5,28.0
CO,36.0,31.0,32.0,32.0,33.0,34.0,33.0,33.0,32.0,35.0,...,29.0,30.0,30.0,30.0,28.0,28.0,31.0,30.0,30.0,28.0
CT,15.5,33.5,44.5,45.5,47.0,49.0,49.5,46.0,48.0,45.5,...,42.5,42.0,44.0,38.5,38.0,39.5,40.0,41.0,40.5,41.5
DE,38.5,34.0,35.5,38.5,37.0,34.0,38.0,37.5,41.5,37.5,...,37.0,33.5,41.0,34.0,34.0,37.0,35.0,37.0,37.5,34.0
FL,36.0,33.0,34.0,35.0,37.5,38.5,37.0,35.5,36.0,36.0,...,31.5,31.0,32.5,30.0,31.0,33.0,32.5,33.0,33.0,33.0
GA,36.0,31.0,30.5,30.5,32.0,31.5,29.5,30.0,33.0,30.5,...,29.0,28.0,29.0,29.0,28.0,29.0,28.5,30.0,27.5,25.0
HI,49.0,48.0,44.0,44.0,48.0,47.0,49.0,47.0,46.0,44.0,...,40.0,44.0,43.0,43.0,40.0,42.0,43.0,43.0,43.0,43.0
IA,34.0,34.0,34.0,36.5,41.5,42.0,40.5,37.0,37.5,37.0,...,37.0,34.0,39.0,36.0,36.0,38.0,37.5,42.0,41.5,38.5
IL,38.0,34.0,36.0,39.0,40.0,40.0,40.0,39.0,38.0,37.0,...,34.0,35.0,35.0,33.0,34.0,33.0,34.0,36.0,36.0,32.0
IN,30.0,28.0,29.0,29.0,35.0,36.0,35.0,34.0,35.0,34.0,...,31.0,30.0,31.0,30.0,30.0,31.0,31.0,31.0,31.0,31.0
KY,38.5,31.5,35.5,35.0,37.0,38.0,37.0,37.0,36.5,34.0,...,32.5,32.0,33.0,30.0,33.0,32.5,32.0,33.5,33.5,31.5
LA,43.0,31.0,32.0,15.0,30.0,37.0,35.0,35.0,35.0,34.0,...,34.0,33.0,35.0,30.0,32.0,31.0,33.0,34.0,34.0,35.0
MA,51.0,44.0,43.0,44.0,46.0,48.0,47.0,46.0,46.0,45.0,...,42.0,41.0,44.0,40.0,39.0,41.0,40.0,41.0,42.0,42.0
MD,35.0,23.0,22.0,30.0,25.0,34.0,38.0,37.0,37.0,36.0,...,32.0,32.0,35.0,32.0,34.0,33.0,32.0,31.0,32.0,32.0
ME,46.0,42.0,40.0,39.0,42.0,44.0,41.0,41.0,39.0,38.0,...,36.0,36.0,38.0,35.0,32.0,32.0,33.0,32.0,33.0,33.0
MI,34.0,32.5,31.5,33.5,34.5,36.0,35.5,35.0,33.5,33.0,...,29.5,28.0,29.0,26.5,28.0,27.5,28.0,28.5,29.5,29.0
MN,36.0,33.0,32.0,35.0,35.0,37.0,35.0,34.0,32.0,30.0,...,30.0,29.0,32.0,30.0,31.0,32.0,33.0,34.0,32.0,33.0
MO,35.0,31.0,33.0,33.0,34.0,35.0,34.0,35.0,33.0,31.0,...,32.0,31.0,32.0,31.0,32.0,32.0,32.0,34.0,32.0,32.0
MS,31.0,32.0,31.0,31.0,34.0,35.0,33.0,34.0,34.0,36.0,...,33.0,33.0,32.0,32.0,34.0,33.0,36.0,36.0,33.0,33.0
MT,36.0,40.0,36.0,33.0,40.0,40.0,39.0,38.0,36.0,36.0,...,37.0,37.0,33.0,32.0,37.0,36.0,36.0,34.0,30.0,29.0
NC,40.0,35.0,34.0,36.0,36.0,38.0,38.0,36.0,39.0,39.0,...,33.0,32.0,35.0,32.0,31.0,33.0,33.0,34.0,33.0,32.0
NE,37.0,30.0,35.0,36.0,39.0,42.0,35.0,35.0,32.0,38.0,...,30.0,31.0,32.0,30.0,31.0,31.0,32.0,32.0,31.0,30.0
NJ,46.0,33.0,34.0,41.0,42.5,41.0,41.5,44.0,42.0,41.5,...,43.0,40.5,47.0,39.0,37.5,39.0,40.0,44.0,40.5,38.5
NM,39.0,35.0,36.0,36.0,37.0,38.0,39.0,36.0,38.0,36.0,...,34.0,33.0,35.0,32.0,33.0,32.0,34.0,34.0,33.0,33.0
NV,37.0,35.0,37.0,36.0,38.0,34.0,36.0,36.0,37.0,35.0,...,32.0,29.0,32.0,30.0,32.0,32.0,31.0,31.0,31.0,31.0
NY,48.0,44.0,41.0,42.0,46.0,48.5,48.5,47.0,46.0,45.5,...,57.5,57.5,61.5,57.5,55.0,54.5,58.5,58.0,58.5,57.5
OH,34.0,30.5,31.5,34.0,34.0,36.0,33.0,33.5,34.0,33.0,...,31.5,30.5,32.0,30.5,30.5,31.0,31.0,31.5,31.0,31.0
OK,34.0,28.5,34.5,23.5,32.0,34.5,33.0,32.0,33.0,32.5,...,31.5,31.0,33.0,30.5,30.0,31.0,32.0,32.0,31.5,30.5
OR,38.5,36.5,37.0,37.5,37.0,39.0,39.0,37.0,36.0,36.0,...,31.5,30.0,32.0,30.5,30.0,31.0,31.5,31.5,31.5,30.5
PA,43.0,33.0,37.0,41.0,42.0,41.0,41.0,41.0,41.0,39.0,...,37.0,36.0,40.0,36.0,35.0,36.0,36.0,38.0,38.0,36.0
RI,42.0,40.0,41.0,41.0,42.0,43.0,42.0,42.0,38.0,38.0,...,41.0,39.0,42.0,38.0,37.0,40.0,39.0,40.0,40.0,40.0
SC,41.0,35.0,33.0,36.0,36.0,38.0,37.0,36.0,39.0,38.0,...,36.0,35.0,38.0,33.0,34.0,35.0,35.0,36.0,37.0,34.0
SD,37.0,35.0,41.0,37.0,40.0,41.0,42.0,39.0,42.0,38.0,...,40.0,38.0,41.0,36.0,39.0,38.0,40.0,39.0,39.0,38.0
TN,38.0,32.0,34.0,35.0,35.0,38.0,35.0,35.0,35.0,35.0,...,33.0,31.0,33.0,32.0,32.0,31.0,32.0,33.0,32.0,34.0
TX,32.0,30.0,29.0,31.0,32.0,32.0,31.0,31.0,31.0,31.0,...,29.0,29.0,30.0,30.0,28.0,30.0,31.0,30.0,30.0,30.0
USA,35.0,31.0,31.0,32.0,34.0,35.0,34.0,33.0,34.0,33.0,...,32.0,31.0,33.0,30.0,30.0,31.0,31.0,32.0,31.0,31.0
UT,35.0,31.0,29.0,35.0,34.0,35.0,32.0,35.0,33.0,32.0,...,28.0,29.0,28.0,23.0,29.0,32.0,29.0,35.0,30.0,28.0
VA,34.0,22.0,26.0,24.5,27.5,31.0,34.0,35.0,33.5,32.5,...,31.0,30.0,33.0,29.0,29.5,29.5,29.5,30.0,30.0,29.5
WA,38.0,34.0,34.0,34.0,36.0,37.0,38.0,36.0,36.0,36.0,...,30.0,29.0,31.0,31.0,29.0,30.0,30.0,30.0,30.0,30.0
WI,25.0,25.0,25.0,29.0,26.0,28.0,20.0,26.0,11.0,20.0,...,26.0,28.0,29.0,30.0,29.0,27.0,28.0,29.0,27.0,29.0
WV,35.0,25.0,29.0,33.0,28.0,34.0,27.0,34.0,34.0,28.0,...,37.0,36.0,33.0,31.0,39.0,31.0,35.0,35.0,37.0,38.0
WY,34.0,32.0,34.0,32.0,35.0,36.0,33.0,34.0,32.0,32.0,...,30.0,31.0,32.0,31.0,30.0,32.0,33.0,35.0,31.0,32.0

In [106]:
#Find average closing time of each state
average_closing_time_state = median_days_to_close_grouped_state.mean(axis=1)

In [107]:
#show average
average_closing_time_state

StateName
AL     32.764706
AR     33.102941
AZ     33.588235
CA     30.867647
CO     31.808824
CT     44.345588
DE     38.801471
FL     34.977941
GA     31.154412
HI     46.750000
IA     38.536765
IL     37.852941
IN     32.970588
KY     36.110294
LA     34.926471
MA     44.352941
MD     35.470588
ME     37.867647
MI     33.036765
MN     33.985294
MO     34.647059
MS     35.514706
MT     37.367647
NC     36.573529
NE     34.250000
NJ     42.514706
NM     36.808824
NV     34.852941
NY     54.941176
OH     33.889706
OK     32.948529
OR     35.933824
PA     40.000000
RI     41.073529
SC     37.573529
SD     41.808824
TN     35.823529
TX     31.411765
USA    33.558824
UT     31.176471
VA     32.654412
WA     34.029412
WI     26.808824
WV     33.573529
WY     33.882353
dtype: float64

In [108]:
#sort by amount of time
average_closing_time_state_sorted = average_closing_time_state.sort_values(ascending=False)

In [109]:
average_closing_time_state_sorted

StateName
NY     54.941176
HI     46.750000
MA     44.352941
CT     44.345588
NJ     42.514706
SD     41.808824
RI     41.073529
PA     40.000000
DE     38.801471
IA     38.536765
ME     37.867647
IL     37.852941
SC     37.573529
MT     37.367647
NM     36.808824
NC     36.573529
KY     36.110294
OR     35.933824
TN     35.823529
MS     35.514706
MD     35.470588
FL     34.977941
LA     34.926471
NV     34.852941
MO     34.647059
NE     34.250000
WA     34.029412
MN     33.985294
OH     33.889706
WY     33.882353
AZ     33.588235
WV     33.573529
USA    33.558824
AR     33.102941
MI     33.036765
IN     32.970588
OK     32.948529
AL     32.764706
VA     32.654412
CO     31.808824
TX     31.411765
UT     31.176471
GA     31.154412
CA     30.867647
WI     26.808824
dtype: float64

In [110]:
#Panda showing label for values
closing_data = {'StateName': average_closing_time_state_sorted.index, 'Avg_Days_To_Close': average_closing_time_state_sorted.values}
close_time_by_state = pd.DataFrame(closing_data)

In [111]:
close_time_by_state

   StateName  Avg_Days_To_Close
0         NY          54.941176
1         HI          46.750000
2         MA          44.352941
3         CT          44.345588
4         NJ          42.514706
5         SD          41.808824
6         RI          41.073529
7         PA          40.000000
8         DE          38.801471
9         IA          38.536765
10        ME          37.867647
11        IL          37.852941
12        SC          37.573529
13        MT          37.367647
14        NM          36.808824
15        NC          36.573529
16        KY          36.110294
17        OR          35.933824
18        TN          35.823529
19        MS          35.514706
20        MD          35.470588
21        FL          34.977941
22        LA          34.926471
23        NV          34.852941
24        MO          34.647059
25        NE          34.250000
26        WA          34.029412
27        MN          33.985294
28        OH          33.889706
29        WY          33.882353
30        AZ          33.588235
31        WV          33.573529
32       USA          33.558824
33        AR          33.102941
34        MI          33.036765
35        IN          32.970588
36        OK          32.948529
37        AL          32.764706
38        VA          32.654412
39        CO          31.808824
40        TX          31.411765
41        UT          31.176471
42        GA          31.154412
43        CA          30.867647
44        WI          26.808824

In [112]:
home_value_index_cleaned1 = home_value_index_cleaned.drop(['RegionID', 'SizeRank', 'RegionName', 'RegionType'], axis=1)
home_value_index_grouped_state = home_value_index_cleaned1.groupby('StateName').median()

In [113]:
home_value_index_grouped_state.head()

,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,8/31/2000,9/30/2000,10/31/2000,...,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023
StateName,,,,,,,,,,,,,,,,,,,,,
AL,111088.10120,111352.002500,111470.33840,111633.114800,112080.50670,112626.18810,112909.361500,113200.11390,113540.81050,113841.421200,...,206726.5582,206909.97190,207374.13440,208394.71340,209557.6288,210917.5246,211703.68600,212025.54650,211965.97350,212102.88970
AR,73194.69767,72940.418370,73324.57843,73869.879130,74781.85051,75203.22354,75736.316460,76099.11151,76660.71563,76717.793770,...,145473.1392,144727.70860,144236.17620,144350.20350,145253.3189,146713.8166,147569.82950,147531.36040,146623.77430,146134.23890
AZ,94440.92320,94490.868115,94720.46349,95139.054725,95651.79721,96144.07905,96647.285575,97225.84251,97907.74395,98610.261325,...,365072.1670,360837.79865,357668.12510,355780.97575,355581.6513,356717.9988,358075.10610,359219.11555,360458.42895,361673.05675
CA,207673.96910,208214.658500,209137.03260,210114.455900,211268.80290,213527.33030,217492.621500,222033.52890,226211.23170,230077.430500,...,772121.2954,767933.92150,765086.23220,764789.46890,767093.9505,771536.8284,776282.67580,781228.35760,784894.38970,787111.17430
CO,164966.99445,165198.518650,165063.61990,165086.802000,165204.29245,165853.04730,166840.260300,168033.46390,169361.00690,170801.584600,...,475623.3210,472468.93015,469796.44925,467433.73930,465855.1247,465183.7592,465843.76925,467151.85610,468660.60235,469703.05630

In [118]:
home_value_index_cleaned1['Year'] = home_value_index_cleaned1['Date'].dt.year

KeyError: 'Date'

In [114]:
#show averages 
average_home_value_index = home_value_index_grouped_state.mean(axis=1)

In [115]:
average_home_value_index

StateName
AL     141661.929915
AR     102207.609773
AZ     184032.939936
CA     452904.424881
CO     258598.026358
CT     238510.480331
DE     256593.758754
FL     183210.181064
GA     112110.052617
HI     503587.379515
IA     155999.311428
ID     189130.940564
IL     109015.041180
IN     135291.081186
KS     114065.405129
KY     113195.653507
LA     193500.193912
MA     321785.331398
MD     258229.738884
ME     155248.159569
MI     135440.602807
MN     186193.097634
MO     153969.178031
NC     141277.250073
NE     160876.339331
NH     222590.064132
NJ     231985.614245
NV     254638.676061
NY     121225.124518
OH     116486.305077
OK      98962.872663
OR     236401.058980
PA     132909.450089
RI     269240.980126
SC     192539.824180
TN     140498.738724
TX     162828.023538
USA    200007.628547
UT     254766.713262
VA     165532.770293
VT     240113.140755
WA     292478.854890
WI     206730.683142
WV     102256.708006
dtype: float64

In [116]:
average_home_value_index_sorted = average_home_value_index.sort_values(ascending=False)
average_home_value_index_sorted

StateName
HI     503587.379515
CA     452904.424881
MA     321785.331398
WA     292478.854890
RI     269240.980126
CO     258598.026358
MD     258229.738884
DE     256593.758754
UT     254766.713262
NV     254638.676061
VT     240113.140755
CT     238510.480331
OR     236401.058980
NJ     231985.614245
NH     222590.064132
WI     206730.683142
USA    200007.628547
LA     193500.193912
SC     192539.824180
ID     189130.940564
MN     186193.097634
AZ     184032.939936
FL     183210.181064
VA     165532.770293
TX     162828.023538
NE     160876.339331
IA     155999.311428
ME     155248.159569
MO     153969.178031
AL     141661.929915
NC     141277.250073
TN     140498.738724
MI     135440.602807
IN     135291.081186
PA     132909.450089
NY     121225.124518
OH     116486.305077
KS     114065.405129
KY     113195.653507
GA     112110.052617
IL     109015.041180
WV     102256.708006
AR     102207.609773
OK      98962.872663
dtype: float64

In [117]:
#Panda showing label for values
home_value_index_data = {'StateName': average_home_value_index_sorted.index, 'Avg_Home_Index_Value': average_home_value_index_sorted.values}
home_value_by_state = pd.DataFrame(home_value_index_data)

home_value_by_state

   StateName  Avg_Home_Index_Value
0         HI         503587.379515
1         CA         452904.424881
2         MA         321785.331398
3         WA         292478.854890
4         RI         269240.980126
5         CO         258598.026358
6         MD         258229.738884
7         DE         256593.758754
8         UT         254766.713262
9         NV         254638.676061
10        VT         240113.140755
11        CT         238510.480331
12        OR         236401.058980
13        NJ         231985.614245
14        NH         222590.064132
15        WI         206730.683142
16       USA         200007.628547
17        LA         193500.193912
18        SC         192539.824180
19        ID         189130.940564
20        MN         186193.097634
21        AZ         184032.939936
22        FL         183210.181064
23        VA         165532.770293
24        TX         162828.023538
25        NE         160876.339331
26        IA         155999.311428
27        ME         155248.159569
28        MO         153969.178031
29        AL         141661.929915
30        NC         141277.250073
31        TN         140498.738724
32        MI         135440.602807
33        IN         135291.081186
34        PA         132909.450089
35        NY         121225.124518
36        OH         116486.305077
37        KS         114065.405129
38        KY         113195.653507
39        GA         112110.052617
40        IL         109015.041180
41        WV         102256.708006
42        AR         102207.609773
43        OK          98962.872663