In [6]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

In [7]:
# Load in files
rent_index_load = Path("data-files/Zillow_Observed_Rent_Index_(ZORI).csv")
home_value_index_load = Path("data-files/Zillow_Home_Value_Index_(ZHVI).csv")
home_value_forecast_load = Path("data-files/Zillow_Home_Value_Forecast_(ZHVF).csv")
percent_home_sold_above_list_load = Path("data-files/Percent_homes_sold_above_list.csv")
median_sale_to_list_ratio_load = Path("data-files/Median_Sale-to-List_Ratio.csv")
madian_sale_price_load = Path("data-files/Median_Sale_Price.csv")
median_days_to_close_load = Path("data-files/Median_days_to_close.csv")

# Store files as Data Frame
rent_index = pd.read_csv(rent_index_load)
home_value_index = pd.read_csv(home_value_index_load)
home_value_forecast = pd.read_csv(home_value_forecast_load)
percent_home_sold_above_list = pd.read_csv(percent_home_sold_above_list_load)
median_sale_to_list_ratio = pd.read_csv(median_sale_to_list_ratio_load)
madian_sale_price = pd.read_csv(madian_sale_price_load)
median_days_to_close = pd.read_csv(median_days_to_close_load)

In [11]:
# Take a look at the data
rent_index

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,102001,0,United States,country,NaN,1280.633863,1287.501924,1296.645905,1306.721774,1316.751242,...,1975.835739,1977.938133,1983.983289,1992.489296,2003.280119,2015.846679,2026.886830,2037.184481,2043.719504,2047.095633
1,394913,1,"New York, NY",msa,NY,2426.843124,2443.214185,2461.569551,2484.335192,2500.447307,...,3192.662155,3186.090274,3201.305375,3227.659771,3264.971399,3305.837389,3343.975859,3369.088119,3378.231065,3376.205700
2,753899,2,"Los Angeles, CA",msa,CA,1897.597785,1909.296480,1924.702226,1939.356022,1954.717452,...,2924.394108,2920.801579,2928.269343,2936.661995,2951.164632,2958.004259,2968.798884,2982.964790,2995.886668,3001.423728
3,394463,3,"Chicago, IL",msa,IL,1417.325728,1424.776246,1435.912190,1445.772642,1456.722898,...,1860.947800,1868.049689,1880.888532,1893.637877,1909.273200,1932.058153,1952.481379,1965.321340,1972.630211,1971.321022
4,394514,4,"Dallas, TX",msa,TX,1139.808665,1144.828522,1152.963226,1163.690479,1174.252609,...,1795.720424,1793.799306,1796.900598,1802.831095,1806.282541,1813.190759,1821.711844,1830.681080,1832.988133,1829.204295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,845169,874,"Rockport, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1534.970000,1525.000000
591,394687,875,"Hood River, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2180.467751,2239.970719,2254.306482,2132.777778
592,395130,890,"Sterling, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,880.000000
593,394718,892,"Jamestown, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,787.488592,791.100033,817.419504,839.187519,865.433625,866.851557,865.791510,868.696063,862.929561,882.777778
594,394996,915,"Portales, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,924.352133,915.000830,914.970822,899.480127,908.465608

In [14]:
# Group the data by RegionName
rent_index_by_region = rent_index.groupby(["RegionName"])
print(rent_index_by_region)

# Filter the dataset for regions that have full data (2015-2023)
# filtered_rent_index =

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x14f6d9f30>